syntax: glob
# ------------------------------------------------------------
# shell service ignores
# ------------------------------------------------------------
shel-service/target/
shel-service/project/boot/
*.pyc
*.swp
local_settings.py
