Django==1.3.1
South==0.7.3
distribute==0.6.15
django-debug-toolbar==0.8.5
django-indexer==0.3.0
django-paging==0.2.4
django-sentry==1.11.4
django-templatetag-sugar==0.1
docutils==0.8.1
gunicorn==0.13.4
psycopg2==2.4.2
pyserial==2.5
wsgiref==0.1.2
#-e hg+https://bitbucket.org/jespern/django-piston/@c4b2d21db51a531b069dd7f0d7fc10996c9c70c8#egg=django_piston-tip
#django-piston==0.2.2
